<div style="padding: 1%;">
  <input routerLink="add-promo" type="submit" class="btn float-right text-white" style="background-color:#079480; margin-bottom:2%;" value="Ajouter un promo"/>
  <div>
    <router-outlet> </router-outlet>
  </div>

  <div class="row justify-content-center" style="margin-bottom: 1%; margin-top:3%;">
    <div *ngFor="let promo of promosData; let i=index" class="card col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right: 1%; margin-bottom:1%;">
      <div>
        <div class="card-header" style="background-color: #079480;">
            {{promo.libelle }}
        </div>

        <div class="card-body">
          <div id="accordion">
            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#langue" aria-expanded="true" aria-controls="langue">
                    Langue
                  </button>
                </h5>
              </div>
              <div id="langue" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body"> {{promo.langue }}</div>
              </div>
            </div>

            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">
                    Description
                  </button>
                </h5>
              </div>
              <div id="description" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  {{promo.description }}
                </div>
              </div>
            </div>

            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#lieu" aria-expanded="false" aria-controls="lieu">
                    Lieu
                  </button>
                </h5>
              </div>
              <div id="lieu" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  {{promo.lieu }}
                </div>
              </div>
            </div>
            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#referent" aria-expanded="false" aria-controls="referent">
                    Référent Agate
                  </button>
                </h5>
              </div>
              <div id="referent" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  {{promo.referentAgate }}
                </div>
              </div>
            </div>
            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#fabrique" aria-expanded="false" aria-controls="fabrique">
                    Fabrique
                  </button>
                </h5>
              </div>
              <div id="fabrique" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  {{promo.fabrique }}
                </div>
              </div>
            </div>
            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#periode" aria-expanded="false" aria-controls="periode">
                    Période de formation
                  </button>
                </h5>
              </div>
              <div id="periode" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Du <strong> {{promo.dateDebut }}</strong> au <strong> {{promo.dateFin }}</strong>
                </div>
              </div>
            </div>
            <div class="card" style="padding: 1%;">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#referentiel" aria-expanded="false" aria-controls="referentiel">
                    Référentiels
                  </button>
                </h5>
              </div>
              <div id="referentiel" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" *ngFor="let ref of promo.referentiels">
                    <p> {{ref.libelle }} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
