<div style="padding:2%">
    <div>
      <button type="submit" class="btn float-right mb-6" style="background-color: #079480;" routerLink="add-groupe-competence"> Ajouter un nouveau groupe de compétence</button>
    </div> <br> <br><br>
 <div class="row justify-content-center">
  <div class="col-md-4">
    <router-outlet> </router-outlet>
  </div>
 </div>

  <div style="border: 2px solid rgb(212, 208, 208);" class="row shadow p-3 mb-5 bg-white rounded border mt-4 justify-content-center">


  <div style="padding: 3%;" class="row shadow p-3 mb-5 bg-white rounded border mt-4 col-md-11">
    <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
      <div class="card-header" style="background-color: #079480;">Groupe de competence 1</div>
      <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>
      </div>
    </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>
  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%; max-width: 18rem;">
    <div class="card-header" style="background-color: #079480;">Header 1</div>
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">html <br> CSS <br> Agular <br> Ajax</p>    </div>
  </div>

</div>


  </div>

</div>
