<div style="padding: 1%;">

<input routerLink="add-referentiel" type="submit" class="btn float-right text-white" style="background-color:#079480; margin-bottom:2%;" value="Nouveau référentiel"/>
<div>
  <router-outlet> </router-outlet>
</div>
<div style="padding: 3%;" class="row justify-content-center">
  <div *ngFor="let ref of referentielsData; let i=index" class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%;">
    <div class="card-header" style="background-color: #079480;">
      {{i+1}} {{ref.libelle}}
      <div class="float-right">
        <ul class="list-inline m-0  d-flex justify-content-center">
          <li class="list-inline-item">
              <button [routerLink] = "[ref.id+'/update']" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
              <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
          </li>
      </ul>
      </div>
    </div>
      <div class="card-body">
        <div id="accordion">
          <div class="card" style="padding: 1%;">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#presentation" aria-expanded="false" aria-controls="description">
                  Présentation
                </button>
              </h5>
            </div>
            <div id="presentation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p> {{ref.presentation}} </p>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card" style="padding: 1%;">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#programme" aria-expanded="false" aria-controls="description">
                  Programme
                </button>
              </h5>
            </div>
            <div id="programme" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, amet illum itaque inventore sit enim odit accusantium pariatur repellat nostrum rem autem soluta harum quia aliquid quis, assumenda, voluptatum saepe? </p>
              </div>
            </div>
          </div>
        </div>


        <div id="accordion">
          <div class="card" style="padding: 1%;">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#evaluation" aria-expanded="false" aria-controls="description">
                  Critère d'Evaluation
                </button>
              </h5>
            </div>
            <div id="evaluation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p> {{ref.critereEvaluation}} </p>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card" style="padding: 1%;">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#admission" aria-expanded="false" aria-controls="description">
                  Critère d'Admission
                </button>
              </h5>
            </div>
            <div id="admission" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p> {{ref.critereAdmission}} </p>
              </div>
            </div>
          </div>
        </div>

        <div id="accordion">
          <div class="card" style="padding: 1%;">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#grpeCompe" aria-expanded="false" aria-controls="description">
                  Groupes de compétences
                </button>
              </h5>
            </div>
            <div id="grpeCompe" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body" *ngFor="let comp of ref.groupeCompetences; let j=index">
                <p> {{j+1 }} {{comp.libelle}} </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

</div>
