
  <div style="padding: 3%;" class="row justify-content-center">
    <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%;">
      <div class="card-header" style="background-color: #079480;">Developpement Web et mobile</div>
        <div class="card-body">
          <h5 class="card-title">Description</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem quod voluptate sunt cum numquam, repudiandae reiciendis delectus, fugiat et voluptatibus id illo sint ipsam illum! Doloremque omnis odio unde?</p>
          <p> Critère Evaluation</p>
          <p> Critère Admission</p>
        </div>
      </div>


  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%;">
    <div class="card-header" style="background-color: #079480;">Référent digital</div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Lorem max-width: 18rem;ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem quod voluptate sunt cum numquam, repudiandae reiciendis delectus, fugiat et voluptatibus id illo sint ipsam illum! Doloremque omnis odio unde?</p>
      <p> Critère Evaluation</p>
      <p> Critère Admission</p>
    </div>
  </div>


  <div class="card text-black bg-white mb-3 col-md-3 shadow p-3 mb-5 bg-white rounded border mt-4" style="margin-right:1%;">
    <div class="card-header" style="background-color: #079480;">Data Artisan</div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem quod voluptate sunt cum numquam, repudiandae reiciendis delectus, fugiat et voluptatibus id illo sint ipsam illum! Doloremque omnis odio unde?</p>
      <p> Critère Evaluation</p>
      <p> Critère Admission</p>
    </div>



</div>
