<div class="row justify-content-center">

  <div class=" col-md-9 shadow p-3 mb-5 bg-white rounded border mt-4" style="border: 3px solid rgba(224, 217, 217, 0.925); margin-top:2%;">
    <form #referentielForm="ngForm" (ngSubmit)="onSubmit(referentielForm)" class="text-center border border-light p-5">
      <p class="h4 mb-4" style="font-size:200%; font-weight:bolder;">FORMULAIRE D'AJOUT D'UN REFERENTIEL</p>

      <div class="row">
          <div class=" row col-md-6 form-row mb-4">
            <label for="" class="col-md-4">Libellé</label>
            <input type="text" ngModel required name="libelle" #libelle="ngModel" id="titre" class="form-control mb-4 col-md-7">
            <div *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)" class="alert alert-danger"> Le libellé est requis </div>
          </div>
          <div class=" row form-row col-md-6  mb-4">
            <label for="" class="col-md-4">Programme </label>
            <input type="file" accept=".pdf" ngModel required name="programme" #programme="ngModel" id="programme" class=" btn shadow mb-4 col-md-7">
            <div *ngIf="programme.invalid && (programme.dirty || programme.touched)" class="alert alert-danger"> Le programme est requis </div>
          </div>
          <div class=" row form-row col-md-6  mb-4">
            <label for="" class="col-md-4">Présentation</label>
            <textarea ngModel required name="presentation" #presentation="ngModel" id="" cols="30" rows="3" class="form-control mb-4 col-md-7"></textarea>
            <div *ngIf="presentation.invalid && (presentation.dirty || presentation.touched)" class="alert alert-danger"> La présentation est requise </div>
          </div>
          <div class=" row form-row col-md-6  mb-4">
            <label for="" class="col-md-4">Critère Evaluation</label>
            <textarea ngModel required name="critereEvaluation" #critereEvaluation="ngModel" id="" cols="30" rows="3" class="form-control mb-4 col-md-7"></textarea>
            <div *ngIf="critereEvaluation.invalid && (critereEvaluation.dirty || critereEvaluation.touched)" class="alert alert-danger"> Le critère d'évaluation est requis </div>
          </div>
          <div class=" row form-row col-md-6  mb-4">
            <label for="" class="col-md-4">Citère Admission</label>
            <textarea ngModel required name="critereAdmission" #critereAdmission="ngModel" id="" cols="30" rows="3" class="form-control mb-4 col-md-7"></textarea>
            <div *ngIf="critereAdmission.invalid && (critereAdmission.dirty || critereAdmission.touched)" class="alert alert-danger"> Le crirère d'admission est requis </div>
          </div>
          <div class=" row form-row col-md-6  mb-4">
            <label for="" class="col-md-4">Groupes de compétences</label>
            <select ngModel required name="groupeCompetence" #groupeCompetence="ngModel" class="custom-select col-md-7" id="groupeCompetence" multiple="true">
              <option selected>Choisir les groupes de compétences...</option>
              <option *ngFor="let gc of groupeCompetences" value=" {{gc.id}} "> {{gc.libelle}} </option>
            </select>
            <div *ngIf="groupeCompetence.invalid && (groupeCompetence.dirty || groupeCompetence.touched)" class="alert alert-danger"> Choisissez au moins un groupe de compétences </div>
          </div>
      </div>

      <div class="row justify-content-center">
        <button (click)="retour()" class="col-md-2 btn my-4 btn-block float-left" style="margin-right:3%; background-color: blue;" type="button">Retour</button>
        <button class="col-md-2 btn my-4 btn-block" style="margin-right:3%; margin-left:3%; background-color: red;" type="reset">Réinitialiser</button>
        <button class="col-md-2 btn my-4 btn-block" style=" margin-left:3%; background-color: #079480;" type="submit">Ajouter</button>
      </div>
      <hr>
    </form>
  </div>

  </div>
