<div class="row justify-content-center">

<div class=" col-md-9 shadow p-3 mb-5 bg-white rounded border mt-4" style="border: 3px solid rgba(224, 217, 217, 0.925); margin-top:2%;">
  <form [formGroup]="userForm" class="text-center border border-light p-5">
    <p class="h4 mb-4" style="font-size:400%; font-weight:bolder;">Ajout d'une Promotion</p>

    <div class="row">

      <div class="col-md-4">
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Langue</label>
          <input type="text" formControlName="langue" id="langue" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Titre</label>
          <input type="text" formControlName="titre" id="titre" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Description</label>
          <textarea name="" id="" cols="30" rows="3" class="form-control mb-4 col-md-7"></textarea>
        </div>
      </div>

      <div class="col-md-4">
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Lieu </label>
          <input type="text" formControlName="lieu" id="lieu" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Référent Agate</label>
          <input type="text" formControlName="agate" id="agate" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Fabrique</label>
          <select class="custom-select col-md-7" id="fabrique">
            <option selected>Choisir la fabrique...</option>
            <option value="1"> Sonatel Academy </option>
            <option value="2"> Simplon and Co</option>
          </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Date de début </label>
          <input type="text" formControlName="dateDebut" id="dateDebut" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4"> Date de fin</label>
          <input type="text" formControlName="dateFin" id="dateFin" class="form-control mb-4 col-md-7">
        </div>
        <div class=" row form-row mb-4">
          <label for="" class="col-md-4">Référentiels</label>
          <select class="custom-select col-md-7" id="inputGroupSelect04">
            <option selected>Choisir les référentiels...</option>
            <option value="1"> Develeppement Web et mobile </option>
            <option value="2"> Référent digital</option>
            <option value="3"> Data Artisan </option>
          </select>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">
      <button (click)="retour()" class="col-md-2 btn my-4 btn-block float-left" style="margin-right:3%; background-color: blue;">Retour</button>
      <button class="col-md-2 btn my-4 btn-block" style="margin-right:3%; margin-left:3%; background-color: red;" type="reset">Réinitialiser</button>
      <button (click)="onSubmit()" class="col-md-2 btn my-4 btn-block" style=" margin-left:3%; background-color: #079480;" type="submit">Ajouter</button>
    </div>
    <hr>
  </form>
</div>

</div>
