<div class="row justify-content-center">

<div style="padding:2%;" class="{{competenceService.col}}">
    <div>
      <button (click)="isclicked()" type="submit" class="btn float-right mb-6" style="background-color: #079480;" routerLink="add-competence"> Ajouter une nouvelle compétence</button>
    </div> <br> <br><br>

  <div style="border: 2px solid rgb(212, 208, 208);" class="row p-3 mb-5 bg-white rounded border mt-4 justify-content-center">
    <div class="container col-md-12">
      <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              LISTE DES COMPETENCES
            </div>
            <div class="panel-body">
              <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th>Compétences</th>
              <th>Action</th>
            </tr>
        </thead>

        <tbody *ngFor="let comp of competenceData; let i=index">
            <tr data-toggle="collapse" [attr.data-target]="'#comp'+i"  class="accordion-toggle">
               <td><button class="btn btn-default btn-xs fa fa-eye"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>{{i+1}}</td>
                <td>{{comp.libelle}}</td>
                <td class=" fa fa-trash text-danger">Supprimer</td>
            </tr>

            <tr class="">
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="comp{{i}}">
                  <table class="table table-striped" style="padding: 5%;">
                          <thead>
                            <tr class="info">
                              <th>#</th>
                              <th>Niveau</th>
                              <th>Critère d'évaluation</th>
                              <th>Groupe d'action</th>
                            </tr>
                          </thead>

                          <tbody *ngFor="let niveau of comp.niveaux">

                            <tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
                              <td> <a href="#">{{niveau.id}}</a></td>
                              <td>{{niveau.libelle}}</td>
                              <td>{{niveau.critereEvaluation}} </td>
                              <td> {{niveau.groupeAction}}</td>
                            </tr>
                          </tbody>
                     </table>

                  </div>
              </td>
            </tr>
        </tbody>
    </table>
                </div>

              </div>

          </div>
      </div>
  </div>

</div>

<div style="margin-top:1%;" class="col-md-5">
  <router-outlet> </router-outlet>
</div>

</div>
