/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.animationIn
{
  transition-delay: 5s;
  transition-property: margin-right;
}

.animationOut
{
  transition-delay: 1s;
  transition-property: margin-left;
}
